
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Gotu&display=swap');
body #fonts {
font-family: 'Montserrat', sans-serif;
}


body #temp {
  font-family: 'Comic Neue', cursive;
}

body #font {
  font-family: 'Gotu', sans-serif;
  color: black;
}

/*
body {
  background-color: #7dcea0;
}*/
body {
  background: url('images/greenback.jpeg');
  background-size: cover;
}

.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}









.ui.container.borderless.topmenu.menu {
  background-color: white;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
}

.ui.menu .item {
  color: black;
}