
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Gotu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Slabo+27px|Titillium+Web&display=swap');
body #fonts {
font-family: 'Montserrat', sans-serif;
}

body #white {
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(255,255,255,0.5);
  color:black;
}

body #temp {
  font-family: 'Comic Neue', cursive;
}

body #menu {
  z-index: 9999;
  position:fixed;  
  margin-left: 15% !important;
  width: 70% !important;
  margin-right: 15% !important;
  
}

body #font {
  font-family: 'Titillium Web', sans-serif;
  color: black;
}
/*
    font-family: 'Slabo 27px', serif;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Titillium Web', sans-serif;
*/


/*
body {
  background-color: #7dcea0;
}*/
body {
  background: url('images/background/dark.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}









.ui.container.borderless.topmenu.menu {
  background-color: white;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
}

.ui.menu .item {
  color: black;
}